form {
    width: 100%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 10px;
    margin: auto;
    background: #00e1ff;
  }
  input[type=textfield] {
      width: 75%;
      padding: 16px 32px;
      font-size: 30px;
      margin: 8px 0;
      border-radius:  10px solid silver;
      border-radius: 10px;
      text-align: left;
      color: black;
      background: white;
  }
  input[type=button], input[type=submit], input[type=reset] {
      background-color: #0c013d7c;
      border-radius: 10px;
      color: white;
      padding: 16px 32px;
      font-size: 18px;
      min-width: 21%;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
  }
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #333;
  }